:root {
  --text: #26284D;
  --text-after: #fff;
  --button: #E6E6E6;
  --button-after: #647DFF;
}



section {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--text);
  font-family: 'Roboto';
  font-weight: bold;
}

p {
  font-size: 2rem;
}

div {
  justify-content: space-around;
  display: flex;
}

a {
  text-decoration: none;
  display: block;
}

button {
  padding: 1rem;
  border: none;
  background-color: var(--button);
  color: var(--text);
}
button:hover {
  background-color: var(--button-after);
  color: var(--text-after);
}
@media only screen and (min-width: 300px) {
  /* For tablets: */
  p {font-size: 1rem;}
  button {font-size: 0.6rem;}
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  p {font-size: 1.8rem;}
  button {font-size: 1rem;}
}