
/* small */
@media only screen and (max-width: 599px) {
  .history {
    align-items: baseline;
    display: flex;
  }

  .label {
    /* margin: 0; */
    font-weight: bold;
  }

  .date {
    font-size: 12px;
    margin-right: 2vw;
    width: 15%;
  }

  .about_list li {
    padding-bottom: 1vw;
  }
}


/* mid */
/* @media only screen and (max-width: 900px) and (min-width: 600px) {
  .history {
    align-items: baseline;
    font-size: 16px;
    display: flex;
  }

  .label {
    margin: 0;
    font-weight: bold;
  }

  .date {
    margin-right: 2vw;
    width: 25%;
  }

  .about_list li {
    padding-bottom: 1vw;
  }
  
} */

/* big */
@media only screen and (min-width: 680px) {

  .history {
    align-items: baseline;
    font-size: 16px;
    display: flex;
  }

  .label {
    margin: 0;
    font-weight: bold;
  }

  .date {
    margin-right: 2vw;
    width: 25%;
  }

  .about_list li {
    padding-bottom: 1vw;
  }

}